
#content{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.image{
    background-color: white;
    width:100%;
    z-index: -1;
    grid-column:1/2;
    grid-row:1/3;
}

.title{
    font-size:5em;
    grid-column: 1/3;
    grid-row:1/2;
    z-index:1;
    text-align: center;
    letter-spacing: 20px;
}

.subtitle{
    font-size: 3em;
    color: maroon;
    grid-column:2/3;
    grid-row: 2/3;
    text-align: center;
    letter-spacing: 20px;
}

.box{
    background-color:darkgrey;
    width: 100%;
    height:100%;
    grid-column: 2/3;
    grid-row:1/3;
}